@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap');

:root{
    --laranja: #D2872C;
    --cinza: #766F68;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
html, body{
    height: 100%;
    width: 100%;
    font-family: 'Roboto';
}
img{
    max-width: 100%;
    display: block;
}
li{
    list-style: none;
}
.container{
    position: relative;
    height: 100%;
    max-width: 110rem;
    width: 100%;
    margin: 0 auto;
}
.header-container{
    position: absolute;
    top: 3rem;
    width: 100%;
}
.header-principal{
    display: flex;
    justify-content: space-between;
    height: 6rem;
   width: 100%;
    align-items: center;
}
.header-logo{
    text-decoration: none;
    font-size: 3rem;
    color: var(--laranja);
    margin-left: 2rem;
}
.navegacao-items{
    display: flex;
    gap: 1rem;
}
.navegacao-items a{
    position: relative;
    text-decoration: none;
    color: var(--cinza);
    font-size: 2rem;
    padding: 1.6rem;
}
.navegacao-items a::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 1.6rem;
    width: 0%;
    height: 0.3rem;
    background-color: var(--laranja);
    transition: 0.3s ease-in-out;
}
.navegacao-items a:hover{
    color: var(--laranja);
}
.navegacao-items a:hover::after{
    width: 100%;
}
.navegacao-items li:last-child a{
    margin-right: 2rem;
}
.main-container{
    display: grid;
    height: 100%;
    align-items: center;
}
.main-principal{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    margin: 2rem;
}
.main-texto{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(3,auto);
    gap: 3rem;
    margin: 3rem;
}
.main-texto h1{
    font-size: 5rem;
    font-weight: 900;
    width: 15ch;
    color: var(--cinza);
}
.main-texto p{
    font-size: 2.5rem;
    width: 30ch;
    color: var(--cinza);
}
.main-texto a{
    text-decoration: none;
    color: white;
    font-size: 2rem;
    justify-self: start;
    padding: 1.5rem 8.6rem;
    border-radius: 1rem;
    background-color: var(--laranja);
}
.main-texto a:hover{
    background-color: #bb7825;
}
.main-principal img{
    justify-self: center;
    min-height: 100%;
    object-fit: cover;
}

@media (max-width: 900px){
    .main-principal{
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        margin: 9rem 1rem 0 1rem;
    }
    .main-texto{
        order: 1;
        justify-items: center;
        text-align: center;
    }
    .main-texto h1{
       width: auto;
    }
    .main-texto p{
        width: auto;
    }
    .main-texto a{
        justify-self: center;
    }
    .main-principal img{
        max-height: 35.6rem;
    }
}
@media (max-width: 650px){
    .header-principal{
        flex-direction: column;
        gap: 2rem;
        flex: 1;
    }
    .header-logo{
        margin-left: 0;
    }
    .main-texto{
        margin: 1rem 3rem;
    }
     .main-texto h1{
         font-size: 4rem;
     }
     .main-texto p{
         font-size: 2rem;
     }
     .navegacao-items li:last-child a{
         margin-right: 0;
     }
}

@media (max-width: 375px){
    .main-texto h1{
        font-size: 3rem;
    }
    .main-texto p{
        font-size: 1.6rem;
    }
    .main-texto a{
        padding: 1.5rem 5.6rem;
    }
}