:root {
    --primaria-verde: #5ca720;
    --texto: #161616;
    --linha-divisoria: #a5a1a1;
    --background: #f9f9f9;
  }
  
  *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
  html{
      font-size: 62.5%;
  }
  body{
      min-height: 100vh;
      font-size: 1rem;
      font-family: 'Lato', Arial;
      color: var(--texto);
  }
  li{
      list-style: none;
  }
  a{
    text-decoration: none;
    color: var(--texto);
  }
  img{
      max-width: 100%;
      display: block;
  }
  p{
    font-size: 1.6rem;
  }
  h3{
    font-size: 1.8rem;
  }
  .container{
      max-width: 144rem;
      margin: 0 auto;
  }
  .header{
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 9.4rem;
  }
  .logo{
      display: flex;
      gap: 1rem;
      padding-left: 6rem;
  }
  .navegacao-principal{
      display: flex;
      gap: 1rem;
      padding-right: 6rem;
  }
  .nav-item{
      padding: 1.5rem;
  }
  .main-info{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 6rem;
      height: 8.5rem;
  }
  .main-info h2{
    font-size: 2rem;
  }
  .linha{
    background-color: var(--linha-divisoria);
  }
  .main-produtos{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    row-gap: 6.5rem;
    padding: 0 6rem;
    margin: 5.7rem 0 9rem;
  }
  .fundo{
    justify-content: end;
  }
  .centro{
    justify-content: center;
  }
  .produto{
    display: grid;
    grid-template-rows: repeat(3, auto);
    gap: 1rem;
  }
  .produto img{
    cursor: pointer;
  }
  .preco{
    font-size: 2rem;
    font-weight: 700;
    color: var(--primaria-verde);
  }
  .footer{
    display: grid;
    grid-template-rows: auto auto;
    background: var(--background);
  }
  .termos-news{
    display: flex;
    justify-content: space-between;
    padding: 3rem 6rem;
  }
  .termos{
    line-height: 3rem;
  }
  .newslet input{
    margin-top: 1rem;
    padding: 1.3rem 3rem 1.3rem 1rem;
  }
  .newslet button{
    padding: 1.5rem 2rem;
    border: none;
    font-weight: 700;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    cursor: pointer;
    color: white;
    background-color: var(--primaria-verde);
  }
  .redes-bandeiras{
    display: flex;
    justify-content: space-between;
    padding: 2rem 6rem;
  }
  .redes{
    display: flex;
    gap: 1.5rem;
  }
  .bandeiras{
    display: flex;
    gap: 1.5rem;
  }